<% @contacts.each do |contact| %>
  <p>Id: <%= contact.id %></p>
  <a href="/contacts/<%= contact.id %>">Take a closer look at the contact</a>
  <p>First Name: <%= contact.first_name %></p>
  <p>Last Name: <%= contact.last_name %></p>
  <p>Email: <%= contact.email %></p>
  <p>Phone Number: <%= contact.phone_number %></p>
  <hr>
<% end %>